---
Checks: >
  -*,
  bugprone-*, 
  clang-analyzer-*, 
  performance-*,
  readability-*,
  modernize-*,
  cppcoreguidelines-*,
  google-*,
  misc-*,
  portability-*,
  cert-*,
  hicpp-*,
  llvm-header-guard,
  mpi-*,
  fuchsia-*,
  abseil-*,
  llvm-*,
  android-*,
  apple-*,
  objectivec-*,
  zircon-*,
  chromium-*,
  darwin-*,
  ios-*,
  linuxkernel-*,
  windows-*,
  misc-unused-parameters
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle: file
User: clang
ExtraArgs: []
ExtraArgsBefore: []